.App {
  text-align: center;
}

.information {
  border: 0.3vh solid rgb(170, 170, 170);
  background-color: white;
  width: 30vw;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3%;
}

.TinderUcly {
  margin: auto;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 10vh;
}
.information input {
  background-color: whitesmoke;
  width: 60%;
  height: 0%;
  margin: auto;
  margin-top: 5%;
  padding: 5%;
  border: 0.3vh solid rgb(170, 170, 170);
  font-size: 2vh;
  border-radius: 1vh 1vh;
  font-family: Trattatello, fantasy;
}

.compte {
  margin: auto;
  font-family: Gill Sans, sans-serif;
  font-size: 2vh;
  margin-bottom: 10%;
}

.information button:hover {
  cursor: pointer;
}

.send {
  text-align: center;
  border: none;
  background: linear-gradient(to bottom right, red, orange);
  font-size: 4vh;
  width: 50%;
  height: 11%;
  color: white;
  margin: auto;
  border-radius: 1vh 1vh;
  font-family: Trattatello, fantasy;
  margin-top: 5%;
}
.login {
  text-align: center;
  border: none;
  background: linear-gradient(to bottom right, red, orange);
  font-size: 4vh;
  color: white;
  margin: auto;
  width: 70%;
  height: 11%;
  margin-bottom: 5%;
  margin-top: 3%;
  border-radius: 1vh 1vh;
  font-family: Trattatello, fantasy;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
