body {
  background-image: url(background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.Register {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 15vh;
  text-align: center;
}
.logo {
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height: 100%;
  margin-left: 5%;
}

.RegisterForm {
  border: 0.3vh solid rgb(170, 170, 170);
  background-color: white;
  width: 30vw;
  height: 65vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 45%;
}

.TinderUcly {
  margin: auto;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 10vh;
}
.RegisterForm input {
  background-color: whitesmoke;
  width: 60%;
  height: 0%;
  margin: auto;
  margin-top: 5%;
  padding: 5%;
  border: 0.3vh solid rgb(170, 170, 170);
  font-size: 2vh;
  border-radius: 1vh 1vh;
  font-family: Trattatello, fantasy;
}

.login {
  text-align: center;
  border: none;
  background: linear-gradient(to bottom right, red, orange);
  font-size: 4vh;
  color: white;
  width: 15vw;
  height: 10vh;
  border-radius: 1vh 1vh;
  font-family: Trattatello, fantasy;
}
.nocompte {
  margin: auto;
  font-family: Gill Sans, sans-serif;
  font-size: 2vh;
  margin-bottom: 10%;
}
.inscription {
  color: red;
}

.RegisterForm button:hover {
  cursor: pointer;
}

.signin {
  text-align: center;
  border: none;
  background: linear-gradient(to bottom right, red, orange);
  font-size: 4vh;
  width: 15vw;
  height: 10vh;
  color: white;
  margin: auto;
  border-radius: 1vh 1vh;
  font-family: Trattatello, fantasy;
  position: absolute;
  top: 3vh;
  right: 5vw;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 0%;
}
